
<body>
<!--   <div class="index-body">
    <div class="nav-image">
      <div class="image-sentence">
        <p>IRLは大学受験だけじゃない</p>
      </div>
    </div> -->

    <div class="nav-image">
  <!-- <div class="nav-body"> -->
      <div class="nav-img" onclick="location.href='/'" style="cursor: pointer">
      </div>

      <div class="navbar">
        <ul>
        <% if user_signed_in? %>
          <li>
          <div class="nav-button">
            <%= link_to " ログアウト", destroy_user_session_path, method: :delete %>
          </div>
          </li>

          <li>
          <div class="nav-button">
            <%= link_to " 編集", edit_user_registration_path, class: 'post' %>
          </div>
          </li>


          <!-- <li><input type="button" onclick="location.href='/mypage'" value="マイページ" class="nav-button" style="cursor: pointer"></li> -->
          <li>
          <div class="nav-button">
            <a href="/users/<%= current_user.id %>">マイページ</a>
          </div>
          </li>

        <% else %>
          <li>
          <div class="nav-button">
            <%= link_to "新規登録", new_user_registration_path, class: 'post'  %>
          </div>
          </li>

          <li>
          <div class="nav-button">
            <%= link_to " ログイン", new_user_session_path, class: 'post'  %>
          </div>
          </li>

        <% end %>
        </ul>
      </div>

          <!-- <div class="image-sentence"> -->
            <p>IRLは大学受験だけじゃない</p>
          <!-- </div> -->
        </div>

    <!-- 検索 -->
<!--     <div class="find">
      <div class="find-box">
        <h2>条件から探す</h2>


        <div class="form">
          <h3>大学名</h3>
            <input type="text" placeholder="大学名を入力してください" class="type-university">
        </div>

        <div class="form">
          <h3>高校名</h3>
            <input type="text" placeholder="高校名を入力してください" class="type-university">
        </div>

        <div class="form">
          <h3>卒業年度</h3>
          <select>
            <option value="2013">2013年度</option>
            <option value="2014">2014年度</option>
            <option value="2015">2015年度</option>
            <option value="2016">2016年度</option>
            <option value="2017">2017年度</option>
          </select>
        </div>

        <div class="form">
          <h3>職種</h3>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">営業 </label>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">企画 </label>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">マーケティング </label>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">エンジニア </label>
        </div>
      </div>

      <div class="form">
      <h3>業界</h3>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">広告 </label>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">IT系 </label>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">コンサル </label>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">人材 </label>
      </div>

      <div class="form">
        <h3>担当チューター</h3>
        <select>
          <option value="onishi">大西</option>
          <option value="tomita">富田</option>
          <option value="goto">後藤</option>
          <option value="yamato">大和</option>
          <option value="katou">加藤</option>
        </select>
      </div>
    </div>
 -->

<%# if current_user.status == 0 %>

    <!-- 社会人一覧 -->
    <div class="worker-list clearfix">
      <h1>一覧</h1>


<% if user_signed_in? && current_user.status == 0 %>

<% @workers.each do |worker| %>

      <div class="worker-1">

        <div class="worker-1-img" style="background-image: url(<%= worker.avatar.url(:medium) %>);" onclick="location.href='/users/<%= worker.id %>'" style="cursor: pointer"></div>


        <div class="worker-1-detail1">
          <%= worker.name %>
        </div>

        <div class="worker-1-detail2">
          企業：<%= worker.company %><br>
          大学：<%= worker.university %><br>
          高校：<%= worker.high_school %><br>
          卒業年度：<%= worker.grad_year %>年度<br>
        </div>
      </div>

<% end %>

<% end %>

<% if user_signed_in? && current_user.status == 1 %>

<% @students.each do |worker| %>

      <div class="worker-1">

        <div class="worker-1-img" style="background-image: url(<%= worker.avatar.url(:medium) %>);" onclick="location.href='/users/<%= worker.id %>'" style="cursor: pointer"></div>


        <div class="worker-1-detail1">
        <%= worker.name %>
        </div>

        <div class="worker-1-detail2">
          大学：<%= worker.university %><br>
          高校：<%= worker.high_school %><br>
          卒業年度：<%= worker.grad_year %>年度<br>
        </div>
      </div>

<% end %>

<% end %>
    </div>

    <%# else %>

    <!-- 学生一覧 -->

    <%# end %>

</body>


