
<body>
      <div class="nav-body">
          <div class="nav-img" onclick="location.href='/'" style="cursor: pointer">
          </div>
          <div class="navbar">
            <ul>
              <li><input type="button" value="学生登録" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" value="社会人登録" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" value="ログイン" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" onclick="location.href='/request'" value="マイページ" class="nav-button" style="cursor: pointer"></li>
            </ul>
            </div>
            </div>
  <div class="mypage">
    <div class="mypage-back-img">
      <div class="box">
              <%= image_tag @image_url, class: "my_image" %>
      </div>
    </div>
    <div class="profile">
      <div class="name">
        <h2><%= @user.name %></h2>
        <h3>
          <%= @user.company %><br>
          <%= @user.university %>　(理工学部)<br>

      <% if user_signed_in? && current_user.id == @user.id %>

          <%= @user.high_school %><br>

      <% end %>

          <%= @user.grad_year %>年度卒業<br>
          担当チューター：河野<br>
        </h3>
      </div>
    </div>

<%= form_for(@matching) do |f| %>


<% end %>

  </div>

</body>

<!-- 'worker-1-img.JPG' -->
