
<body>
      <div class="nav-body">
          <div class="nav-img" onclick="location.href='/'" style="cursor: pointer">
          </div>
          <div class="navbar">
            <ul>
              <li><input type="button" value="学生登録" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" value="社会人登録" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" value="ログイン" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" onclick="location.href='/request'" value="マイページ" class="nav-button" style="cursor: pointer"></li>
            </ul>
            </div>
            </div>
  <div class="mypage">
    <div class="mypage-back-img">
      <div class="box">

        <div class="my_image" style="background-image: url(<%= @user.avatar.url(:medium) %>);"></div>

      </div>
    </div>
    <div class="profile">
      <div class="name">
        <h1><%= @user.name %></h1>
        <h2>
          <%= @user.company %><br>
          <%= @user.university %><br>

      <% if user_signed_in? && current_user.id == @user.id %>

          <%= @user.high_school %><br>

      <% end %>

          <%= @user.grad_year %>年度卒業<br>
          担当チューター：河野<br>
        </h2>
      </div>
    </div>

    <div class="profile">
      <h2><%= @user.email %></h2>
    </div>

<button>挨拶</button>
$('button').click(function(){
  alert('hello');
})

<%= form_for(@matching) do |f| %>



<% end %>

  </div>

</body>

<!-- 'worker-1-img.JPG' -->
